*{
    padding: 0;
    margin: 0;
}
.card{
    padding: 20px 100px 20px 100px;

}
.card-header{
    background-color: #9AA087;
    color: white;
}
.card-body{
    background-color: #C8CDBA;
    display: flex;
    flex-direction: column;
    gap: 15px;
}