body{
    background-color: lightgrey;
    margin: 0;
}
img{
    height: 200px;
}
.footer{
    text-align: center;
}
a{
    color: mediumaquamarine;
}
.header{
    color: darkblue;
    text-align: center;
    border-top: black solid;
    margin: 0;
    padding: 10px;
}
.container{
    margin-top: 0;
    width: 700px;
    margin:auto;
}
.first_row{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.second_row{
    background-color: pink;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.third_row{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

