*{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}
.nav_bar{
    height: 75px;
    width: 560px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_bar > h1{
    margin-left: 10px;
}
.nav_bar > p{
    color: gray;
    background-color: white;
    width: 250px;
    padding: 1px;
    padding-left: 5px;
    border: 2px solid black;
}
.nav_bar > button{
    background-color: #225FDE;
    box-shadow: 3px 3px 0px black;
    border-color: black;
    color: white;
    height: 25px;
    width: 60px;
    font-size: small;
}
/* END OF NAV BAR */
/* START OF MAIN CONTENT */
.container{
    display: flex;
}
.columnOne{
    margin-top: 20px;
    margin-right: 0;
}
.top, .bottom{
    border: black solid 2px;
    width: 350px;
    height: 125px;
    padding-left: 5px;
    display: flex;
    margin: 10px;
}
.left{
    margin-left: 2px;
    text-align: center;
}
.left > p{
    font-size: small;
    padding: 3px;
}
.italic{
    font-style: italic;
}
#plural{
    font-size: x-small;
}
.left > button{
    background-color: #FED254;
    box-shadow: 3px 3px 0px black;
    border-color: black;
    color: black;
    height: 20px;
    width: 60px;
    font-size: xx-small;
    margin-top: 5px;
    margin-bottom: 5px;
}
.right >p{
    font-size: small;
}
/* END OF COLUMN ONE & START OF COLUMN TWO */
.columnTwo{
    margin-left: 5px;
    margin-top: 20px;
}
.c2_content{
    border: black solid 2px;
    width: 150px;
    height: 85px;
    padding: 10px;
    margin: 10px;
}
.c2_content > button{
    background-color: #82BA6A;
    box-shadow: 3px 3px 0px black;
    border-color: black;
    color: black;
    height: 25px;
    width: 150px;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 5px;
}