*{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}
.topBar{
    width: 520px;
    text-align: center;
}
.network{
    color: white;
    background-color: black;
    text-align: left;
}
.topBar > h1{
    padding: 10px;
}
/* END OF TOP BAR */
.container{
    display: flex;
}
/* START OF PROFILE COLUMN */
.profile > img{
    width: 75px;
    border-radius: 50%;
    border: black 2px solid;
    margin: 10px;
    margin-bottom: 15px;
}
.profile > h4{
    margin-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.profile{
    text-align: center;
    border: black 2px solid;
    height: 200px;
    width: 130px;
}
.columnOne{
    margin-right: 0;
    margin-top: 5px;
}
/* END OF COLUMN ONE */
/* START OF COLUMN TWO */
.columnTwo{
    margin-left: 25px;
    margin-top: 5px;
}
.row{
    width: 350px;
    height: 115px;
    border: black solid 2px;
    margin-bottom: 10px;
}
.top{
    display: flex;
    margin-top: 15px;
}
.top > h4{
    margin-left: 10px;
}
.likesOne, .likesTwo, .likesThree{
    margin-right: 20px;

}
.top > button{
    background-color: #FED254;
    box-shadow: 3px 3px 0px black;
    border-color: black;
    color: black;
    height: 25px;
    width: 50px;
    font-size: small;
    margin-right: 20px;
    margin-left: 0;
}
.bottom{
    margin: 10px;
    margin-left: 10px;
    padding-top: 5px;
}
