*{
    margin: 0;
    padding: 0;
}
.top{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
