<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <h1 style="--color:{{ col_one }}; --bc:{{ col_two }};">CHECKERBOARD</h1>
    <table>
        <tbody>
            {% for i in range(0,row) %}
                <tr>
                    {% for x in range(0,column) %}
                        {% if (x+i) % 2 == 0 %}
                            <td style="--bg:{{ col_one }}; --hov:{{ col_two }};"></td>
                        {% else %}
                            <td style="--bg:{{ col_two }}; --hov:{{ col_one }};"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>