*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.topBar{
    padding: 10px 100px 10px 100px;
    background-color: #8EB7F5;
    color: white;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    padding-left: 20px;
    font-size: x-large;
}
li{
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
/* START OF MAIN CONTENT */
.mainContent{
    padding-left: 100px;
    padding-right: 100px;
}
/* START OF WEATHER HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 2px;
}
.header > h2{
    padding: 10px 0 10px 0;
}
label{
    font-size: small;
}
#tempOption{
    border: black solid 1px;
    font-size: x-small;
    height: 25px;
}
/* START OF WEATHER CONTENT */
.weatherContent{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    padding-top: 30px;
}
.weather_card{
    background-color: #EAEAEA;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather_card > img{
    height: 150px;
    border-radius: 50%;
}
.highTemp::after, .lowTemp::after{
    content:"\00b0";
}
.highTemp{
    color: red;
    padding: 10px;
}
.lowTemp{
    color: blue;
    padding: 10px;
}
/* FOOTER STARTS HERE */
.readMore{
    text-decoration: underline;
    color: blue;
}
.cookieMessage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: solid black 2px;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
.cookieMessage > button{
    background-color: #8EB7F5;
    box-shadow: 3px 3px 0px black;
    border-color: black;
    height: 25px;
    width: 75px;
    font-size: small;
}
.footer{
    position:fixed;
    bottom: 20px;
    left: 100px;
    right: 100px;
}
