<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Counter</title>
</head>
<body class="p-3 mb-2 bg-body-secondary">
    <div class="card text-center">
        <h1 class="card-header">Counter</h1>
        <div class="top">
            <span> Counter Value: {{ session['refresh_num'] }} </span>
            <span> Actual Value: {{ session['actual'] }}</span>
        </div>
        <div class="buttons">
            <a class="btn btn-outline-dark" href="/count">Add One!</a>
            <a class="btn btn-outline-dark" href="/count_two">Add Two!</a>
            <a class="btn btn-outline-dark" href="/reset">Reset!</a>
            <a class="btn btn-outline-dark" href="/destroy_session">Clear Session</a>
            <form action="/increment" method="post" class="d-flex">
                <input type="number" name="increments" class="form-control me-2" placeholder="Pick a number">
                <button for="increments" class="btn btn-outline-dark">Submit!</button>
            </form>
        </div>
    </div>
</body>
</html>